{% extends 'mainapp/base.html' %}
{% load static %}

{% block css %}
    {{ block.super }}
{% endblock  %}

{% block menu %}
    {{ block.super }}
{% endblock %}

{% block subtitle %}
    <div class="padding-site subtitle">
        <div class="subheader clearfix">
            <h5>found {{object_list|length}} matches</h5>
    <!--        <a class="logo" href="#"><img src="/static/img/logo.svg" alt="logo"></a>-->
        </div>
    </div>
{% endblock  %}

{% block content %}
<div class="logviewer padding-site">
    {% block messages_list %}
        {{ block.super }}
    {% endblock %}
</div>

{% endblock  %}
{% block footer %}
    {{ block.super }}
    <div class="copyright-links">
<!--        <p class="copyright">© Copyright - INTERIOR 2016. All Rights Reserved.</p>-->
    </div>
{% endblock  %}
